:host {
  --table-memberships-background: var(--table-memberships-background-custom, none);
  --table-memberships-color: var(--table-memberships-color-custom, var(--color, black));
  --table-memberships-header-background: var(--table-memberships-header-background-custom);
  --table-memberships-header-color: var(--table-memberships-header-color-custom, var(--table-memberships-color, var(--color, black)));
  --table-memberships-time-column-background: var(--table-memberships-time-column-background-custom, var(--background-color, white));
  --table-memberships-time-column-color: var(--table-memberships-time-column-color-custom, var(--table-memberships-color, var(--color, black)));
  --table-memberships-border: var(--table-memberships-border-custom, 1px solid var(--color, black));
  --table-memberships-cell-padding: var(--table-memberships-td-padding-custom, 1.3rem);
  --table-memberships-buttons-justify-content: var(--table-memberships-buttons-justify-content-custom, space-between);
  --table-memberships-titles-font-size: var(--table-memberships-titles-font-size-custom, 1.5rem);

  --button-primary-padding: 0.5em 0.75em;
}

:host strong,
:host h1,
:host h2,
:host h3,
:host h4,
:host h5,
:host h6 {
  font-family: var(--font-family-bold);
}

:host .table {
  overflow-x: auto;
  margin: var(--content-spacing) 0;
}

:host .table>table th {
  font-family: var(--font-family-bold);
  border-top: var(--table-memberships-border);
  border-right: var(--table-memberships-border);
  font-size: var(--table-memberships-titles-font-size);
  text-align: start;
}

:host .table>table tr th:first-child,
:host .table>table tr td:first-child {
  font-family: var(--font-family-bold);
  background: var(--table-memberships-time-column-background);
  color: var(--table-memberships-time-column-color);
  position: sticky;
  left: 0;
  border-left: var(--table-memberships-border);
  z-index: 2;
}

:host .table>table tr th:first-child p,
:host .table>table tr td:first-child p,
:host .table>table tr td:first-child ul {
  font-family: var(--font-family);
}

:host .table>table td {
  border-right: var(--table-memberships-border);
  /* Workaround to be able to set td content to height: 100% */
  height: 1px;
  /* Workaround to have equally wide columns */
  width: 1%;
}

:host .table>table .cell {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host .table>table td a {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: var(--button-primary-padding, 0.5em 0.75em);
  color: var(--m-white);
  background-color: var(--color-secondary);
  font-family: var(--font-family-bold);
  text-align: center;
  text-wrap: nowrap;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out, color 0.3s ease-out;
}

:host .table>table td a:hover {
  background-color: var(--color-hover);
}

:host .table>table td ul {
  padding-inline-start: var(--table-memberships-cell-padding);
}

:host .table>table td:not(:first-child) :nth-last-child(2) {
  flex-grow: 1;
  margin-bottom: var(--content-spacing);
}

:host .table>table th p,
:host .table>table td * {
  margin: 0;
}

:host .table>table td h2,
:host .table>table td h3,
:host .table>table td h4,
:host .table>table td h5,
:host .table>table td h6 {
  font-size: var(--table-memberships-titles-font-size);
  text-wrap: nowrap;
}

:host .table>table tr:first-of-type td {
  background: var(--table-memberships-accent-1) !important;
}

:host .table>table tr:nth-of-type(2n) td {
  background: var(--table-memberships-accent-2) !important;
}

:host .table>table tr:nth-of-type(3n) td {
  background: var(--table-memberships-accent-3) !important;
}

:host .table>table tr:nth-of-type(4n) td {
  background: var(--table-memberships-accent-4) !important;
}

@media only screen and (max-width: _max-width_) {}