<m-emotion-carousel namespace="emotion-carousel-default-" interval=10000 height=40em height-Mobile=50em>
    <div class="component-container">
        <div class="slide">
            <a-emotion-pictures namespace=emotion-pictures-general->
                <div>
                    <div></div>
                    <a-picture namespace="" alt="Slider Erlebnisbad2 1920X1080px"
                        defaultSource="../img/emotion-pictures/slider-erlebnisbad2-1920x1080px.jpg"
                        aspect-ratio="0.5625" sources-keep-query-aspect-ratio=""
                        style="--img-object-position: center center" picture-load="">
                    </a-picture>
                </div>
            </a-emotion-pictures>
        </div>
        <div class="slide">
            <a-emotion-pictures namespace=emotion-pictures-general->
                <div>
                    <div></div>
                    <a-picture namespace="" alt="Slider Erlebnisbad2 1920X1080px"
                        defaultSource="../img/emotion-pictures/slider-aussenbecken-1920x1080px.jpg"
                        aspect-ratio="0.5625" sources-keep-query-aspect-ratio=""
                        style="--img-object-position: center center" picture-load="">
                    </a-picture>
                </div>
            </a-emotion-pictures>
        </div>
        <div class="slide">
            <a-emotion-pictures namespace=emotion-pictures-general->
                <div>
                    <div></div>
                    <a-picture namespace="" alt="Slider Erlebnisbad2 1920X1080px"
                        defaultSource="../img/emotion-pictures/slider-fitness2-1920x1080px.jpg"
                        aspect-ratio="0.5625" sources-keep-query-aspect-ratio=""
                        style="--img-object-position: center center" picture-load="">
                    </a-picture>
                </div>
            </a-emotion-pictures>
        </div>
        <div class="controls">
            <div class="section left">
                <a-arrow class="arrow-btn btn-prev" direction="left"></a-arrow>
            </div>
            <div class="section right">
                <a-arrow class="arrow-btn btn-next" direction="right"></a-arrow>
            </div>
        </div>
    </div>
</m-emotion-carousel>