:host {
  --button-primary-color: var(--m-white);
  --button-primary-font-family: var(--font-family-bold);
  --details-default-icon-right-summary-child-color-hover-custom: var(--m-white);
  --footer-default-a-color: var(--color-black);
  --footer-default-a-color-hover: var(--color-black);
  --footer-default-background-color: var(--color-grey);
  --footer-default-button-background-color: #ffffff20;
  --footer-default-button-background-color-hover: #ffffff10;
  --footer-default-button-margin: 0 0 1em;
  --footer-default-button-width: 100%;
  --footer-default-content-spacing-mobile: var(--content-spacing-mobile);
  --footer-default-content-spacing: var(--content-spacing);
  --footer-default-copyright-font-size: 0.9rem;
  --footer-default-copyright-font-size-mobile: 0.9rem;
  --footer-default-copyright-margin: auto auto auto 0;
  --footer-default-a-font-size: 1.2rem;
  --footer-default-a-font-size-mobile: 1.2rem;
  --footer-default-gap: var(--footer-default-gap-custom, var(--content-spacing));
  --footer-default-h4-font-family: var(--font-family);
  --footer-default-h4-font-size: 1.2em;
  --footer-default-invert-a-color-hover: var(--footer-default-invert-a-color-hover-custom, var(--color-hover));
  --footer-default-invert-background-color: var(--footer-default-invert-background-color-custom, var(--color-secondary));
  --footer-default-invert-color-hover: var(--footer-default-invert-color-hover-custom, var(--color-hover));
  --footer-default-invert-color: var(--footer-default-invert-color-custom, var(--background-color));
  --footer-default-invert-orange-a-color-hover: var(--footer-default-invert-orange-a-color-hover-custom, var(--color-hover));
  --footer-default-invert-orange-a-color: var(--footer-default-invert-orange-a-color-custom, var(--footer-default-invert-color));
  --footer-default-invert-orange-background-color: var(--footer-default-invert-orange-background-color-custom, var(--footer-default-invert-background-color));
  --footer-default-invert-orange-color: var(--footer-default-invert-orange-color-custom, var(--footer-default-invert-color));
  --footer-default-invert-svg-color-hover: var(--footer-default-invert-svg-color-hover-custom, var(--color-hover));
  --footer-default-invert-svg-color: var(--footer-default-invert-background-color);
  --footer-default-invert-svg-color: var(--footer-default-invert-svg-color-custom, var(--color-secondary));
  --footer-default-links-justify-content-custom: flex-end;
  --footer-default-links-justify-content-mobile-custom: flex-start;
  --footer-default-links-gap: calc(var(--footer-default-content-spacing) * 2);
  --footer-default-links-gap-mobile: 0;
  --footer-default-links-ul-li-padding: 0;
  --footer-default-links-ul-li-padding-mobile: 0.1em 0;
  --footer-default-logo-margin-bottom: 1em;
  --footer-default-meta-a-font-size: 0.9rem;
  --footer-default-meta-a-font-size-mobile: 0.9rem;
  --footer-default-ul-li-font-size: var(--footer-default-a-font-size, 1em);
  --footer-default-wrapper-last-contains-details-margin-bottom: 0;
  --picture-footer-logo-img-height: min(35px, 10vw);
  --picture-store-logo-img-margin-mobile: var(--picture-store-logo-img-margin);
  --picture-store-logo-img-margin: 0;
  --logo-default-height: 32px;
  --logo-default-height-mobile: 30px;
  --ul-li-font-size: 1.5rem;
}