:host {
  --table-default-background: var(--table-default-background-custom, none);
  --table-default-color: var(--table-default-color-custom, var(--color, black));
  --table-default-header-background: var(--table-default-header-background-custom, revert);
  --table-default-header-color: var(--table-default-header-color-custom, var(--table-default-color, var(--color-secondary, var(--color, black))));
  --table-default-time-column-background: var(--table-default-time-column-background-custom, var(--background-color, white));
  --table-default-time-column-color: var(--table-default-time-column-color-custom, var(--table-default-color, var(--color, black)));
  --table-default-border: var(--table-default-border-custom, 1px solid var(--color, black));
  --table-default-header-border: var(--table-default-header-border-custom, 2px solid var(--color, black));
  --table-default-cell-padding: var(--table-default-td-padding-custom, 1em);
  --table-default-buttons-justify-content: var(--table-default-buttons-justify-content-custom, space-between);

  --button-primary-padding: 0.5em 0.75em;
}

:host strong,
:host h1,
:host h2,
:host h3,
:host h4,
:host h5,
:host h6 {
  font-family: var(--font-family-bold);
}

:host .table {
  overflow-x: auto;
  margin: var(--content-spacing) 0;
}

:host .table>table th {
  font-family: var(--font-family-bold);
}

:host .table>table tr th:first-child {
  font-family: var(--font-family-bold);
  background: var(--table-default-time-column-background);
  text-align: start;
  position: sticky;
  left: 0;
}

:host .table>table th:not(:first-child),
:host .table>table tr th:first-child:empty,
:host .table>table td:not(:first-child) {
  text-align: end;
}

:host .table>table th h2,
:host .table>table td * {
  margin: 0;
}

:host .table>table td {
  vertical-align: baseline;
}

:host .table>table tr td:first-child {
  background: var(--table-default-time-column-background);
  color: var(--table-default-time-column-color);
  position: sticky;
  left: 0;
}

:host .table>table td.header-style {
  font-family: var(--font-family-bold);
  color: var(--table-default-header-color) !important;
}

:host .table>table tr:hover,
:host .table>table tr:hover th,
:host .table>table tr:hover td {
  background-color: var(--table-default-color-accent) !important;
}

:host(.accent-column-1) .table>table tr th:nth-child(1),
:host(.accent-column-1) .table>table tr td:nth-child(1) {
  background: var(--table-default-color-accent) !important;
}

:host(.accent-column-2) .table>table tr th:nth-child(2),
:host(.accent-column-2) .table>table tr td:nth-child(2) {
  background: var(--table-default-color-accent) !important;
}

:host(.accent-column-3) .table>table tr th:nth-child(3),
:host(.accent-column-3) .table>table tr td:nth-child(3) {
  background: var(--table-default-color-accent) !important;
}

:host(.accent-background),
:host(.accent-background) .table>table tr th:first-child,
:host(.accent-background) .table>table tr td:first-child {
  background: var(--table-default-color-accent) !important;
}

:host(.accent-background) .table {
  padding: 0 var(--content-spacing) var(--content-spacing) var(--content-spacing);
}

@media only screen and (max-width: _max-width_) {}